*~
make.out
*.suo
*.dat
*.tmp
*.*.user
*.psess
.editorconfig
bin
obj
*.vcxproj*
*.tmp
*.bk
*.tmp
*.o
*.cmd
trace/
*.mod*
Module.symvers
modules.order
*.ko
*.code-workspace
spack-build*
spack-configure*
